/*********************************************

This is the style file for this project.

**********************************************/

.hand {
    position    : absolute;
    bottom      : 10px;
    left        : 50%;
    margin-left : -100px; /* half width of img */
    z-index : -1;
}

.fingers {
  position: absolute;
  z-index: 1;
}
